/* Some basics to make it easier to read. */
body {
	--spacing: 2em;

	display: grid;
	gap: var(--spacing);
	margin: initial;
	padding: var(--spacing);
}

form {
	background-color: whitesmoke;
	border-radius: calc(var(--spacing) / 2);
	display: grid;
	gap: var(--spacing);
	padding: var(--spacing);
}

.small-task{
	font-size: 0.5rem
}

.medium-task{
	font-size: 2rem
}

.large-task{
	font-size: 4rem
}

.strikethrough{
	text-decoration: line-through
}

ul{
	list-style-type: none;
}

/* Style the close button */
li {
    position: relative; 
    padding: 1rem;
}

.hide{
	display: none;
}

/* 2. Pull the X out of the text flow and pin it to the right */
.close {
    position: absolute;
    inset-inline-end : 1rem; /* Pins it to the far right of the li */
    cursor: pointer; /* Makes it look clickable (like a button) */
    color: red; /* Optional: gives it a clear "delete" visual */
	font-size: 2rem;
}
.close:hover {
  background-color: #f44336;
  color: white;
}
